@font-face {
  font-family: "Pretendard-Regular";
  src: url(./assets/fonts/Pretendard-Regular.woff2);
}

/*css 색 등을 변수 지정 -- */
:root {
  --body_backgroud: #101010;
  --body_color: #fff;
  --heading_color: #ffe400;
}

/* body의 data-theme 값이 light 일때 */
[data-theme="light"] {
  --body_backgroud: #fff;
  --body_color: #000;
  --heading_color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body_backgroud);
  color: var(--body_color);
  font-family: "Pretendard-Regular", sans-serif;
  transition: all 0.3s ease-in-out;
}

.align_center {
  display: flex;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}
